/* partie header */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: sticky;
    }

.header {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
            
    }

.header .navbar {
    justify-content: space-between;
    margin-top: 2rem;
    background-color: #b06c06d4;
    position: sticky;
    }

.navbar ul {
    display: flex;
    justify-content: space-between; 
    }

.navbar ul li {
    list-style-type: none;
    text-decoration: none;
    margin: 0.8rem;    
    }

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    animation: colorchange 5s infinite;
}

.navbar ul li a {
    transition: all 0.5s ease;
    cursor: pointer;
    }

.navbar ul li a:hover {
    color: #f8cb2e;
    font-weight: bold;
    }

.image-logo img {
    width: 12%;               
    left: 0;
    margin-top: 1.8rem;
}

/* Footer */

.footer-class {
    background-color: #b06c06;
    padding: 1rem;
    margin-top: 2rem;
}

.footer-div {
    background-color: #be8e44ff;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem;        
}

.footer-sidebar {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px;
    gap: 2rem;
}

.footer-menu {
    text-align: left;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-top: 3rem;
    font-size: 1rem;
}

#footer-image img {
    width: 70px;
    display: flex;
    background-color: #f6d8ac96;
    border-radius: 50%;
}

.footer-contact {
    width: 15rem;
    color: white;
    padding: 1rem;
}

.footer-contact h3 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}

.footer-contact p  {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.footer-contact textarea {
    padding: 1rem;
    border-radius: 0.8rem;
}

.footer-contact button {
    padding: 0.5rem;
    background-color: #be8e44ff;
    border: none;
    border-radius: 0.8rem;
    color: white;
    font-size: 1rem;
}

.footer-nav ul li {
    list-style-type: none;
    text-decoration: none;
    margin: 0.8rem;
}

.footer-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.media-social {
    margin-bottom: 2rem;
    width:100%
}

.media-social strong {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.media-social p em i {
    transition: all 0.5 ease;
    cursor: pointer;
    color: white;
}

.media-social p em {
    background-color: #be8e44ff;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    transition: all 0.5 ease;
    cursor: pointer;
}

.media-social p em:hover {      
    background-color: white;
}

.media-social p em i:hover {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    color: #b06c06;
    animation: rotate 2s linear infinite; /*Applique l'animation "rotate" */ 
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Page accueil */
/* header */
.header-accueil {
    width: 100%;
    background-image: url("avecrajout/Bellecoiffure_.jpeg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 32rem;
    opacity: 0.8; 
    background-color: rgba(3, 3, 3, 0.7);
    background-blend-mode: overlay;
}

.text-header {
    text-align: center;
    color: white;
    margin-top: 6rem;
}

.text-header h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.text-header p {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.header-button {
    margin: 2rem;
    padding: 0.5rem;
}

.dropdown button {
    display: none;
}

.header-button button {
    margin: 0.5rem;
    padding: 0.8rem;
    background-color: #be8e44ff;
    border-radius: 0.5rem;
    border: none;
    width: 10rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.header-button button:hover {
    background-color: #b06c06;
}

.header-button button a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.header-button button a:hover {
    color: white;
}

/* Section about */

.about-section {
    margin-top: 4rem;
    text-align: center;
}

.about-id h1{
    color: #be8e44ff;
    font-size: 2rem;
}

.about-id p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.about-class {
    display: grid;
    grid-template-rows: 420px;
    grid-template-columns: 300px 500px;
    place-content: center;
    gap: 10rem;
    margin-bottom: 2rem;
    background-color: #b06c06; 
    padding: 1rem;
}

#about-image img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin-left: 0;
}

#about-text {
    color: white;
}

#about-text h1 {
    background-color: #be8e44ff;
    padding: 0.5rem;
    margin-bottom: 3rem;
    border-radius: 0.8rem;
}

#about-text p {
    font-size: 1.5rem;
}

/* Section realisation */

.realisation {
    text-align: center;
    margin-top: 4rem;
}

.realisation h1 {
    background-color: #be8e44ff;
    padding: 0.5rem;
    width: 18rem;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-left: 42%;
    color: white;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

.realisation-img {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 300px 300px 300px;
    gap: 5rem;
    margin-bottom: 7rem;
    justify-content: center;            
}

.realisation-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

 #image1-realisation {
    width: 280px;
    height: 350px;
    position: relative;
}

 #image2-realisation {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 200px;    
}

#image2-realisation img {
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.realisation-txt {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.realisation-txt button {
    margin: 1rem;
    padding: 0.5rem;
    background-color: #b06c06;
    border: none;
    border-radius: 0.5rem;
    width: 9rem;
    margin-top: 5rem;
}

.realisation-txt button a {
    text-decoration: none;
    color: white; 
    font-size: 1.2rem;
}
.realisation-gap {
    background-color: #b06c06;
}

/* Section Pression */

.prestation {
    text-align: center;
    margin-top: 4rem;
}

.prestation h1 {
    background-color: #be8e44ff;
    padding: 0.5rem;
    width: 18rem;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-left: 41%;
    color: white;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

.prestation p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.prestation-img {
    background-color: #b06c06;
}

.prestation-img  h3 {
    color: white;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.prestation-image {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 450px;
    gap: 3rem;
    margin-bottom: 4rem;
    justify-content: center;   
    padding: 1.5rem;
}

.prestation-image img {
    width: 300px;
    height: 400px;
    border-radius: 1.5rem
}

#prestation1 img, #prestation2 img, #prestation3 img {
    width: 100%;
    height: 100%;
}

/* Section localisation */

.localisation {
    text-align: center;
}

.localisation h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.localisation iframe {
    width: 100%;
}

/* Page Service */

.service-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("avecrajout/images/9c3e95f1-ee1d-4b85-b333-6b0773024c52.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35rem;
    opacity: 0.8; 
    background-color: rgba(3, 3, 3, 0.7);
    background-blend-mode: overlay;
}

.service-header .text-header .header-button {
    background-color: #b06c06;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 32%;
    border-radius: 1.5rem;
}


/* .service-header .text-header .header-button select {
    background-color: #be8e44ff;
    border-radius: 45%;
    padding: 0.5rem;
    color: white;
    border: none;
} */


.services {
    text-align: center;
    margin-top: 2rem;
}

.services h1 {
   font-size: 2rem;
    padding: 0.5rem;
    width: 18rem;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-left: 41%;
    color: black;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
}

.services  p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.part {
    text-align: center;
    margin-top: 4rem;
}

.part-class {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 500px;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.part h4 {
    background-color: #be8e44ff;
    padding: 0.5rem;
    width: 25rem;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-left: 35%;
    color: white;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}
     
.part img {
    width: 300px;
    height: 400px;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.part-text p {
    background-color: #b06c06;
 
    margin-left: 1rem;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

/* page contact et de prise de rendez-vous*/

.contact-header, .rendez-vous-header {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("avecrajout/389a0110-b737-4bb3-92d3-89996e211908.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35rem;
    opacity: 0.8; 
    background-color: #b06c0625;
    background-blend-mode: overlay;
    margin-bottom: 2rem;
}

.contact-text, .rendez-vous-text {
    text-align: center;
    color: white;
    margin-top: 6rem;
}

.contact-text h1, .rendez-vous-text h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.contact-text p, .rendez-vous-text p {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
}

.contact-section, .rendez-vous-section {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.contact-button, .rendez-vous-button {
    margin: 2rem;
    padding: 0.5rem;
}

.contact-button button, .rendez-vous-button button {
    margin: 0.5rem;
    padding: 0.8rem;
    background-color: #be8e44ff;
    border-radius: 0.5rem;
    border: none;
    width: 10rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact-button button:hover, .rendez-vous-button button:hover {
    color: #b06c06;
    background-color: white;
}

.contact-button button a, .rendez-vous-button button a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact-button button a:hover, .rendez-vous-button button a:hover {
    color: #b06c06;
    font-weight: bold;
}

.contact-form, .rendez-vous-form {
    margin: 2rem;
    padding: 1rem;
}

.contact-form form, .rendez-vous-form form {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    background-image: linear-gradient(to right, #b06c06, white, #be8e44ff);  
}

.contact-form form input, 
.contact-form form textarea, 
.rendez-vous-form form input, 
.rendez-vous-form form textarea {
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #b06c06;
    
}

.contact-form form button, .rendez-vous-form form button {
    padding: 0.8rem;
    background-color: #be8e44ff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
    color: white;
    font-size: 1.2rem;
    width: 50%;
}

.contact-form form label, .rendez-vous-form form label {
    font-size: 1.2rem;
    color: #4b3007;
}

.contact-form form button:hover, .rendez-vous-form form button:hover {
    background-color: #4b3007;
    color: white;
}

.contact-form form input::placeholder, 
.contact-form form textarea::placeholder, 
.rendez-vous-form form input::placeholder, 
.rendez-vous-form form textarea::placeholder {
    color: #4b3007;
    font-size: 1rem;
}

/* Responsivité */

@media(max-width: 768px){
    /* Page accueil */
    /* header */
    * {
        margin: 0;
        padding: 0;
        position: sticky;
    }

    .header-button {
        width: 80%;
        margin-left: 10%;
    }

    .text-header h1 {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    .text-header p {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }

    .header-accueil {
        height: 30rem;
    }

    .navbar ul li {
        margin: 0.5rem 0;
    }

    .header{
        width: 100%;
        height: 2rem; 
        justify-content: space-between;
        margin-bottom: 2rem;
        align-items: center;
    }

    .text-header {
       z-index: -1000;
    }

    .header .navbar {
        justify-content: space-between;
        margin-top: 2rem;
        background-color: transparent;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column; 
        align-items: center;        
    }

    .navbar ul {
        flex-direction: column; 
        align-items: center;
    }

    .navbar ul li {
        margin: 0.5rem 0;
    }

    .navbar ul li a {
        color: #b06c06;
    }

    .image-logo img {
        width: 5%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
         
    }

    .dropdown button {
        display: inline-block;
        background-color: #b06c06d4;
        color: white;
        padding: 0.5rem;
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        margin-left: 2rem;
    }

    .dropdown-content {
        
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
       
    }

    .dropdown-content a {
        
        color: black;
        padding: 0.7rem;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    /* section about */
     .about-class {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    /* section réalisation */
        .realisation h1 {
            margin-left: 10%;
            text-align: center;
            justify-content: center;
        }

        .realisation-img {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 2rem;
    }

        .realisation-txt {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin-top: 1rem;
        }

        #image1-realisation, #image2-realisation {
            position: static;
            width: 80%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

        #image1-realisation {
            height: 50%;
        }

        #image2-realisation {
            height: 100%;
        }

        .realisation-gap {
            margin: 0;
        } 

        /* section prestation */

    .prestation h1 {
        margin-left: 10%;
        text-align: center;
        justify-content: center;
    }

.prestation-img {
    position: sticky;
    top: 0;
    background: white;
    padding: 10px;
    text-align: center;
    z-index: 10;
}

.prestation-image {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #b06c06;
}

/* page footer */


    .footer-contact {
       display: none;
    }

     .footer-sidebar {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        text-align: center;
        justify-content: center;
    }

    .footer-menu {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-top: 1rem;
        justify-content: center;
    }

    
    .media-social {
        display: flex;
        justify-content: center;
    }

    /* Page service */

    .service-header {
        height: 30rem;
    }

    .services h1 {
        margin-left: 10%;
        text-align: center;
        justify-content: center;
    }

    .part-class {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    .part h4 {
        margin-left: 10%;
        text-align: center;
        justify-content: center;
    }

    .part img {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        position: static;
    }

    .part-text p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
    }

    .header-button button {
        width: 0%;
        margin-left: 10%;
    }

    .service-header .text-header .header-button select {
        font-size: 1rem;
        border: none;
        border-radius: none;
    }

}

